{% extends "baselayout.html.twig" %}

{% block title %}Livres{% endblock %}

{% block content %}


<h2>Livres</h2>

<ul>
    {% for livre in livres %}
        <li>{{ livre.titre }} ecrit par : {{ livre.auteur.nom }} à {{ livre.prix }} €</li>
    {% endfor %}
</ul>

<a href="{{ path('livre/new') }}">Ajouter un livre</a>

{% endblock %}
