{% extends "baselayout.html.twig" %}

{% block title %}Auteurs{% endblock %}

{% block content %}

<h2>Auteurs</h2>

<ul>
    {% for auteur in auteurs %}
        <li>{{ auteur.nom }} {{ auteur.prenom }} </li>
    {% endfor %}
</ul>

<a href="{{ path('auteur/new') }}">Ajouter un auteur</a>

{% endblock %}
