{% extends "baselayout.html.twig" %}

{% block title %}Clients{% endblock %}

{% block content %}

<h2>Clients</h2>

<ul>
    {% for client in clients %}
        <li>{{ client.getNom() }} {{ client.prenom }} né le {{ client.dateDeNaissance|date('Y-m-d') }}
    {% endfor %}
</ul>

<a href="{{ path('client/new') }}">Ajouter un client</a>

{% endblock %}

