{% extends 'baselayout.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block content %}

<h2>Ajouter un client</h2>

{{ form(form) }}

<a href="{{ path('client') }}">Annuler</a>

{% endblock %}
