{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block content %}

<h2>{{ client.nom }} {{ client.prenom }}</h2>
{{ client.nom }} {{ client.prenom }} est né le {{ client.dateDeNaissance|date('Y-m-d') }}
et à acheté les livres :
<ul>
    {% for livre in client.livres %}
    <li>{{  livre.titre }}</li>
    {% endfor %}
</ul>
{% endblock %}
