{% extends "base.html.twig" %}

{% block body %}
<header>
    <nav>
        <p><a href="{{ path('auteur') }}"> Auteurs</a></p>
        <p><a href="{{ path('client') }}">Clients</a></p>
        <p><a href="{{ path('livre') }}">Livres</a></p>
    </nav>
</header>

{% block content %}
{% endblock content %}

{% endblock body %}
